@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

.header {
    justify-content: space-between;
    align-content: center;
    flex: 0 0 72px;
    padding: 0 12.5vw;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links, .logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    justify-content: center;
    align-content: center;
    padding: 128px 12.5vw;
    gap: 72px;
}

.left, .placeholder {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
}

.hero_main {
    font-size: 48px;
    font-weight: 900;
}

.hero_secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: inherit;
    border: solid;
}

.hero button {
    margin-top: 8px;
    border: none;
}

.placeholder {
    border-radius: 10px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12.5vw;
}

.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 48px 0;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 128px;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    width: 160px;
    text-align: center;
    color: #4b5563;
    gap: 8px;
}

.tile > .image {
    border: 4px solid #3882f6;
    border-radius: 15px;
    height: 152px;
    width: 152px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 128px 20vw;
}

.speech {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.speaker {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.test {
    padding: 128px 12.5vw;
}

.footer {
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
}

.footer button {
    border-color: white;
}

.tagline {
    font-size: 24px;
    font-weight: 500;
}

.subtext {
    font-size: 18px;
}
